.Product {
  width: 300px;
  padding: 20px;
  border: 2px solid #666;
}

.product-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.product-add-btn {
  padding: 8px 12px;
  /* float: right; */
  margin-top: 16px;
  background-color: #006f85;
  color: white;
  border: none;
  border-radius: 6px;
}

.product-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
