header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  border-bottom: 1px solid #555;
  padding: 0 5%;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

.header-searchbox {
  width: 400px;
  /* background-color: green; */
  padding: 8px 0;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  display: flex;
  overflow: hidden;
}

.header-searchbox input {
  display: block;
  flex: 1;
  padding: 8px 16px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.header-navigate {
  display: flex;
  gap: 24px;
}

.header-navigate a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s;
}

.header-navigate a:hover {
  color: var(--primary-color);
}
